# Python environment
# Something goes here?
.venv/
venv/
ENV/
env/
bin/
lib/
include/

# Environment variables (Sensitive data)
.env
.env.*
!.env.example

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml

# Logging
*.log

# Databases (Local SQLite files)
*.sqlite3
*.db

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/ 
